@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zdoudw');
  src:  url('fonts/icomoon.eot?zdoudw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zdoudw') format('truetype'),
    url('fonts/icomoon.woff?zdoudw') format('woff'),
    url('fonts/icomoon.svg?zdoudw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.m-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-icon--cross:before {
  content: "\e908";
}
.m-icon--keyboard_arrow_up:before {
  content: "\e902";
}
.m-icon--keyboard_arrow_right:before {
  content: "\e903";
}
.m-icon--keyboard_arrow_left:before {
  content: "\e904";
}
.m-icon--keyboard_arrow_down:before {
  content: "\e905";
}
.m-icon--quote-right:before {
  content: "\e906";
}
.m-icon--quote-left:before {
  content: "\e907";
}
.m-icon--ico-l:before {
  content: "\e900";
}
.m-icon--ico-v:before {
  content: "\e901";
}

